<div class="wrapper breed add">
    <h1 class="title">견종 추가</h1>

    <div class="form-box">
        <p>*견종 이름</p>
        <input type="text" class="js-input-name default" />
    </div>

    <div class="form-box">
        <p>*견종 키워드 (검색어 노출용)</p>
        <div class="js-div-keyword-list keyword-list">
            <div class="js-div-keyword-add keyword-add">
                <input class="js-input-keyword-add default" type="text" />
                <button class="js-button-keyword-add default"><i class="fal fa-plus"></i></button>
            </div>
        </div>
    </div>

    <div class="form-box">
        <p>견종 타입</p>
        <select class="js-select-type default">
            <option value="S" selected>소형견</option>
            <option value="M">중형견</option>
            <option value="L">대형견</option>
        </select>
    </div>

    <div class="form-box">
        <p>견종 나이대별 그룹</p>
        <div class="js-breed-age-group-list breed-age-group-list">
            <button class="js-button-breed-age-group-add breed-age-group-add default"><i class="fal fa-plus"></i></button>
        </div>
    </div>

    <div class="buttons">
        <button class="js-button-cancel default">취소</button>
        <button class="js-button-breed-add default">견종 추가</button>
    </div>
</div>