<input class="js-input-hidden-bag-id" type="hidden" value="<%= bagId %>" />

<div class="wrapper breed weak-disease">
    <h1 class="title"><%= bName %> > <%= bagMinAge %>~<%= bagMaxAge %>세 > 취약질병</h1>

    <button class="js-button-weak-disease-add default data-add">취약질병 추가</button>

    <table class="data-list">

        <thead>
            <tr>
                <th>ID</th>
                <th>취약질병</th>
                <th>신체지수</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="js-tbody-breed-weak-disease-list"></tbody>

    </table>
</div>
