<div class="wrapper disease add">
    <h1 class="title">질병 추가</h1>

    <div class="form-box">
        <p>*질병 이름</p>
        <input type="text" class="js-input-name default" />
    </div>

    <div class="form-box">
        <p>*질병 키워드 (검색어 노출용)</p>
        <div class="js-div-keyword-list keyword-list">
            <div class="js-div-keyword-add keyword-add">
                <input class="js-input-keyword-add default" type="text" />
                <button class="js-button-keyword-add default"><i class="fal fa-plus"></i></button>
            </div>
        </div>
    </div>

    <div class="form-box">
        <p>수술이 필요한 질병인지 여부</p>
        <select class="js-select-operation default">
            <option value="N" selected>불필요함</option>
            <option value="Y">필요함</option>
        </select>
    </div>

    <div class="form-box">
        <p>발병 신체부위</p>
        <select class="js-select-bodypart default"></select>
    </div>

    <div class="form-box">
        <p>발병 원인</p>
        <textarea class="js-textarea-reason default"></textarea>
    </div>

    <div class="form-box">
        <p>질병 관리법</p>
        <textarea class="js-textarea-management default"></textarea>
    </div>

    <div class="form-box">
        <p>질병과 연관된 "음식" 및 "영양소"</p>
        <div class="js-div-food-nutrient-list relationship-list">
            <button class="js-button-food-nutrient-add relationship-add default"><i class="fal fa-plus"></i></button>
        </div>
    </div>

    <div class="form-box">
        <p>질병과 연관된 "증상"</p>
        <div class="js-div-symptom-list relationship-list">
            <button class="js-button-symptom-add relationship-add default"><i class="fal fa-plus"></i></button>
        </div>
    </div>

    <div class="buttons">
        <button class="js-button-cancel default">취소</button>
        <button class="js-button-disease-add default">질병 추가</button>
    </div>
</div>