<div class="wrapper food">
    <h1 class="title">음식 분류 2</h1>

    <button class="js-button-food-category-2-add default data-add">추가</button>

    <table class="data-list">

        <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="js-tbody-food-category-2-list"></tbody>

    </table>
</div>