<div class="wrapper food category">
    <h1 class="title">음식 카테고리</h1>

    <button class="js-button-food-category-add default data-add">상위 카테고리 추가</button>

    <table class="data-list">

        <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>하위 카테고리</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="js-tbody-food-category-list"></tbody>

    </table>
</div>