<div class="wrapper inoculation">
    <h1 class="title">접종</h1>

    <button class="js-button-inoculation-add default data-add">접종 추가</button>

    <table class="data-list">

        <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="js-tbody-inoculation-list"></tbody>

    </table>
</div>