<input class="js-input-hidden-n-id" type="hidden" value="<%= nId %>" />

<div class="wrapper nutrient detail">
    <h1 class="title">영양소 상세</h1>

    <div class="form-box">
        <p>*영양소 이름</p>
        <input type="text" class="js-input-name default" />
    </div>

    <div class="form-box">
        <p>영양소 키워드 (검색어 노출용)</p>
        <div class="js-div-keyword-list keyword-list">
            <div class="js-div-keyword-add keyword-add">
                <input class="js-input-keyword-add default" type="text" />
                <button class="js-button-keyword-add default"><i class="fal fa-plus"></i></button>
            </div>
        </div>
    </div>

    <div class="form-box">
        <p>영양소 효과</p>
        <select class="js-select-effect default">
            <option selected value="NORMAL">별 효과 없음</option>
            <option value="POSITIVE">긍정적 영양소</option>
            <option value="NEGATIVE">부정적 영양소</option>
        </select>
    </div>

    <div class="form-box">
        <p>영양소 설명</p>
        <textarea class="js-textarea-desc default"></textarea>
    </div>

    <div class="form-box">
        <p>영양소 과다섭취시 부작용 설명</p>
        <textarea class="js-textarea-desc-over default"></textarea>
    </div>

    <div class="buttons">
        <button class="js-button-cancel default">취소</button>
        <button class="js-button-nutrient-save default">영양소 저장</button>
    </div>
</div>
