<div class="wrapper nutrient">
    <h1 class="title">영양소</h1>

    <a href="/nutrient/add"><button class="default data-add">영양소 추가</button></a>

    <table class="data-list">

        <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>효과</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="js-tbody-nutrient-list"></tbody>

    </table>
</div>