<div class="wrapper product brand">
    <h1 class="title">제품 브랜드</h1>

    <button class="js-button-product-brand-add default data-add">제품 브랜드 추가</button>

    <table class="data-list">

        <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="js-tbody-product-brand-list"></tbody>

    </table>
</div>