<div class="wrapper product category">
    <h1 class="title">제품 카테고리</h1>

    <button class="js-button-product-category-add default data-add">제품 카테고리 추가</button>

    <table class="data-list">

        <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="js-tbody-product-category-list"></tbody>

    </table>
</div>