
<div class="wrapper question">
    <h1 class="title">1:1 문의</h1>

    <table class="data-list">

        <thead>
            <tr>
                <th>ID</th>
                <th>UID</th>
                <th>닉네임</th>
                <th>제목</th>
                <th>상태</th>
                <th>문의날짜</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="js-tbody-question-list"></tbody>

    </table>
</div>
