<div class="wrapper symptom">
    <h1 class="title">증상</h1>

    <a href="/symptom/add"><button class="default data-add">증상 추가</button></a>

    <table class="data-list">

        <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>신체부위</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="js-tbody-symptom-list"></tbody>

    </table>
</div>