@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,600,700,900&display=swap');


*, *:before, *:after {
	box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	background: #333333;
	color: #FFFFFF;
	word-break: keep-all;
	position: relative;
}

a, a:hover, a:visited, a:hover, a:focus, a:active {
	color: #FFFFFF;
	text-decoration: none;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}

input, textarea, select, button {
	font-family: 'Noto Sans KR', sans-serif;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-shadow: none;
	cursor: pointer;
}
select::-ms-expand {
	display: none;
}

button {
	background: transparent;
}

textarea {
    resize: none;
}


.wrapper {
    width: 1024px;
    max-width: 95%;
    margin: 0 auto;
}

h1.title {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

input.default,
textarea.default {
    background: #777777;
    color: #FFFFFF;
    border: none;
}
input.default::placeholder,
textarea.default::placeholder {
    color: #CCCCCC;
}
input.default:focus,
textarea.default:focus {
    background: #555555;
}

button.default {
    background: #555555;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}
button.default:hover {
    background: #777777;
}

select.default {
    background: #777777;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background: #777777 url(/img/chevron-down.svg) no-repeat calc(100% - 12px) 50%;
    background-size: 18px auto;
}

header {
    width: 100%;
    background: #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
header .title-wrapper {
    display: inline-block;
    width: 240px;
    height: 100%;
    position: relative;
    border-right: 1px solid #444444;
}
header .title-wrapper .title {
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
    margin: 0;
    text-align: center;
    position: absolute;
	bottom: 50%;
    -webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
}
header .controls {
    padding-right: 32px;
    position: absolute;
    right: 0;
	bottom: 50%;
    -webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
    transform: translateY(50%);
    font-size: 0;
}
header .controls .control {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 16px;
}
header .mobile-menu {
    position: absolute;
    left: 16px;
	bottom: 50%;
    -webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
    transform: translateY(50%);
    cursor: pointer;
    display: none;
}
header .mobile-menu i {
    font-size: 2rem;
    color: #FFFFFF;
}

nav.side-menu {
    width: 240px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #333333;
    border-right: 1px solid #444444;
    z-index: 998;
    margin-top: 80px;
    overflow-y: auto;
    padding: 16px 0 16px 16px;

    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
nav.side-menu.mobile {
    left: 0;
}
nav.side-menu .main-menu {
    width: 100%;
    padding: 16px;
    font-size: 1.2rem;
}
nav.side-menu .sub-menu {
    list-style: none;
    margin: 0;
    padding: 0 0 0 32px;
}
nav.side-menu .sub-menu li {
    font-weight: 300;
    margin-bottom: 4px;
}
nav.side-menu .sub-menu a:last-child li {
    margin-bottom: 0;
}

article {
    margin-top: 80px;
    padding-left: 240px;
}

article .wrapper {
    padding-top: 64px;
}
article .wrapper button.data-add {
    margin-top: 32px;
    font-size: 1.2rem;
    padding: 8px 16px;
}
article .wrapper .form-box {
    margin-top: 32px;
}
article .wrapper .form-box > p {
    font-size: 1.2rem;
    margin: 0;
}
article .wrapper .form-box > input,
article .wrapper .form-box > select,
article .wrapper .form-box > textarea {
    margin-top: 12px;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
}
article .wrapper .form-box > textarea {
    height: 200px;
    vertical-align: middle;
}
article .wrapper .form-box .keyword-list {
    margin-top: 6px;
    font-size: 0;
}
article .wrapper .form-box .keyword-list .keyword {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    padding: 8px 12px;
    margin: 6px 12px 6px 0;
}
article .wrapper .form-box .keyword-list .keyword-add {
    display: inline-block;
    vertical-align: top;
    margin: 6px 0;
}
article .wrapper .form-box .keyword-list .keyword-add input {
    font-size: 1rem;
    padding: 8px;
    width: 120px;
}
article .wrapper .form-box .keyword-list .keyword-add button {
    font-size: 1rem;
    padding: 8px 16px;
}
article .wrapper .form-box .relationship-list {
    margin-top: 6px;
    font-size: 0;
}
article .wrapper .form-box .relationship-list .relationship {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    padding: 8px 12px;
    margin: 6px 12px 6px 0;
}
article .wrapper .form-box .relationship-list .relationship span {
    color: #777777;
    font-weight: 300;
}
article .wrapper .form-box .relationship-list .relationship:hover span {
    color: #CCCCCC;
}
article .wrapper .form-box .relationship-list .relationship-add {
    display: inline-block;
    vertical-align: top;
    margin: 6px 0;
    font-size: 1rem;
    padding: 8px 16px;
}
article .wrapper .buttons {
    font-size: 0;
    text-align: center;
    margin-top: 32px;
    padding-bottom: 64px;
}
article .wrapper .buttons button {
    font-size: 1.2rem;
    padding: 12px 18px;
    margin: 0 16px;
}


footer {
    background: #555555;
    padding-left: 240px;
}
footer .wrapper {
    padding: 84px 0;
    text-align: center;
}


.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
}


.data-list {
    margin: 32px 0;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #555555;
}
.data-list thead tr th {
    font-size: 1rem;
    padding: 16px;
    background: #555555;
    text-align: center;
    border-left: 1px solid #333333;
}
.data-list thead tr th:first-child {
    border-left: none;
}
.data-list tbody tr {
    border-bottom: 1px solid #555555;
}
.data-list tbody tr:last-child {
    border-bottom: none;
}
.data-list tbody tr td {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    border-left: 1px solid #555555;
    padding: 8px;
}
.data-list tbody tr td:first-child {
    border-left: none;
}
.data-list tbody tr td.buttons {
    padding: 4px;
    font-size: 0;
}
.data-list tbody tr td.buttons button {
    padding: 4px 12px;
    margin: 4px;
    font-size: 0.8rem;
}


.dialog-search-relationship {
    z-index: 999;
    width: 1024px;
    max-width: 95%;
    max-height: 95%;
    background: #333333;
	position: fixed;
	right: 50%;
	bottom: 50%;
    -webkit-transform: translate(50%, 50%);
	-moz-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	-o-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0,0,0,.12);
    overflow: hidden;
    overflow-y: auto;
}
.dialog-search-relationship .header {
    padding: 32px;
	position: relative;
}
.dialog-search-relationship .header i {
    position: absolute;
    right: 32px;
	bottom: 50%;
    -webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
    transform: translateY(50%);
    cursor: pointer;
    font-size: 3rem;
}
.dialog-search-relationship .body .tab-wrapper {
    font-size: 0;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #333333;
}
.dialog-search-relationship .body .tab-wrapper .tab {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    padding: 16px 0;
}
.dialog-search-relationship .body .tab-wrapper .tab.selected {
    background: #555555;
}
.dialog-search-relationship .body .data-list {
    margin: 0;
}
.dialog-search-relationship .body .data-list tbody tr {
    cursor: pointer;
}
.dialog-search-relationship .body .data-list tbody tr.selected {
    background: #555555;
}


@media (max-width: 1024px) {
    header .title-wrapper {
        width: auto;
        height: auto;
        border-right: none;
        position: absolute;
        right: 50%;
        bottom: 50%;
        -webkit-transform: translate(50%, 50%);
        -moz-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
        -o-transform: translate(50%, 50%);
        transform: translate(50%, 50%);
    }
    header .title-wrapper .title {
        position: relative;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    header .mobile-menu {
        display: block;
    }
    nav.side-menu {
        z-index: 998;
        left: -240px;
    }
    article {
        padding-left: 0;
    }
}
